{% comment %} {% load static tailwind_tags %} {% endcomment %}
{% load static %}
<html>
    <head>
        <title>
    {% block title %}
       
    {% endblock %}
        </title>

          {% comment %} {% tailwind_preload_css %}
      {% tailwind_css %} {% endcomment %}
       <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">


<style>
 {%block css_file%}
 {% endblock %}
</style>

    </head>
    <body>
        {% block content %}
        {% endblock %}
      
{% block js_file %}

{% endblock %}

    </body>

</html>